body, html {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="inputPassword"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="inputConfirmPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: .25rem;
}

.signup-button {
  color: white;
  padding: 0.75em 1.25em;
  background-color: rgb(0, 140, 255);
  border-radius: 5px;
  transition-duration: 0.4;
}

.btnHover:hover {
  transition-duration: 1;
  color: white;
  border-color: white;
  background: linear-gradient(77deg, rgba(20,149,255,1) 0%, rgba(3,255,215,1) 100%);
}

.bigLogo {
  display: block;
  transform: translate(40vw, -14vh);
  width: 50vh;
  height: 50vh;
  background: url(logo.svg);
  background-size: cover;

}

.App {
  height: 100vh;
}

strong {
  color: red;
}

.footer {
  position: -webkit-sticky;
  display: block;
  position: sticky;
  bottom: 0px;
}

.send-button {
  color: rgb(0, 140, 255);
  padding: 0.75em 1.25em;
  background-color: white;
  border-radius: 5px;
  transition-duration: 0.4;

  width: 15%;
  border-color: rgb(0, 140, 255);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.send-button:hover{
  color: white;
  background-color: rgb(0, 140, 255);
  background: linear-gradient(77deg, rgba(20,149,255,1) 0%, rgba(3,255,215,1) 100%);
  transition-duration: 0.4;
}

.notes-container {
  border-bottom: 1px solid lightgray;
  
}

.inputNote {
  padding: 0.75em 1.25em;
  width: 85%;
}

.item-username {
  color: rgb(0, 140, 255);
  color: linear-gradient(77deg, rgba(20,149,255,1) 0%, rgba(3,255,215,1) 100%);
  font-size: medium;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.item-date {
  color: grey;
  padding-left: 1rem;
  font-size: small;
}

.item-message {
  padding-left: 1rem;
  font-size: large;
  padding-bottom: 0.5rem;
}

.welcomeBanner {
  text-align: right;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  padding: 0em;
  display: inline;
  
  box-sizing: border-box;
}

.liked, .unliked {
  padding-bottom: 0rem;

}

.jumbotron {
  color: white;
  background: rgb(20,149,255);
  background: linear-gradient(77deg, rgba(20,149,255,1) 0%, rgba(3,255,215,1) 100%);
}

.grad {
  background: linear-gradient(77deg, rgba(20,149,255,1) 0%, rgba(3,255,215,1) 100%);
}