body, html {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="inputPassword"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="inputConfirmPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: .25rem;
}

.signup-button {
  color: white;
  padding: 0.75em 1.25em;
  background-color: rgb(0, 140, 255);
  border-radius: 5px;
  transition-duration: 0.4;
}

.btnHover:hover {
  color: white;

  -webkit-box-shadow: -9px 6px 60px -19px rgba(0,0,0,0.67);
  -moz-box-shadow: -9px 6px 60px -19px rgba(0,0,0,0.67);
  box-shadow: -9px 6px 60px -19px rgba(0,0,0,0.67);
}

.bigLogo {
  display: block;
  transform: translate(40vw, -15vh);
  width: 50vh;
  height: 50vh;
  background: url(logo.svg);
  background-size: cover;
}

.App {
  height: 100vh;
}

strong {
  color: red;
}

.footer {
  position: -webkit-sticky;
  display: block;
  position: sticky;
  bottom: 0px;
}

.send-button {
  color: rgb(0, 140, 255);
  padding: 0.75em 1.25em;
  background-color: white;
  transition-duration: 0.4;

  width: 15%;
  border-color: rgb(0, 140, 255);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.send-button:hover{
  color: white;
  background-color: rgb(0, 140, 255);
}

.inputNote {
  padding: 0.75em 1.25em;
  width: 85%;
  border-bottom: 0;
}